<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/cb5f829db8.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="container">
      <div class="d-block p-2 border border-danger text-center">
        <a class="d-flex justify-content-center gap-5 m-3" href="index.html">
          <img
            class="text-center"
            src="https://dev-to-uploads.s3.amazonaws.com/uploads/logos/resized_logo_UQww2soKuUsjaOGNB38o.png"
            alt=""
            width="65px"
            height="50px"
          />
        </a>

        <div>
          <p class="fw-bold fs-2 m-0 p-0">Join the DEV Community</p>
          <p class="fs-6 text-body-secondary">
            DEV Community is a community of 1,185,136 amazing developers
          </p>
        </div>

        <div class="d-grid gap-2">
          <button type="button" class="btn border p-2">
            <i class="fa-brands fa-apple mx-5"></i>
            Continue with Apple
          </button>
          <button type="button" class="btn border p-2">
            <i class="fa-brands fa-squarespace mx-5"></i>
            Continue with Forem
          </button>
          <button type="button" class="btn border p-2">
            <i class="fa-brands fa-github mx-5"></i>
            Continue with GitHub
          </button>
          <button type="button" class="btn border p-2">
            <i class="fa-brands fa-twitter mx-5" style="color: #009ff9"></i>
            Continue with Twitter
          </button>
        </div>
        <div class="container"><h1 class="m-3">OR</h1></div>
        <div class="container">
          <p class="d-flex fs-6 m-0">Email</p>
          <input class="d-flex w-100" type="text" />
        </div>
        <div class="container mt-3">
          <p class="d-flex fs-6 m-0">Password</p>
          <input class="d-flex w-100" type="text" />
          <div class="d-flex pt-3 justify-content-between">
            <div class="d-flex justify-content-start align-items-center">
              <input type="checkbox" />
              <p class="m-1">Remember me</p>
            </div>
            <a class="m-1">Forgot password?</a>
          </div>
        </div>
      </div>
      <h1>donde estoy?</h1>
    </div>
    <h1>donde estoy?</h1>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
