<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="styles/styles.sass">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <script
      src="https://kit.fontawesome.com/cb5f829db8.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="container">
      <div class="d-block p-2  text-center">
        <a class="d-flex justify-content-center gap-5 m-3" href="index.html">
          <img
            class="text-center"
            src="https://dev-to-uploads.s3.amazonaws.com/uploads/logos/resized_logo_UQww2soKuUsjaOGNB38o.png"
            alt=""
            width="65px"
            height="50px"
          />
        </a>

        <div>
          <p class="fw-bold fs-2 m-0 p-0">Join the DEV Community</p>
          <p class="fs-6 text-body-secondary">
            DEV Community is a community of 1,185,136 amazing developers
          </p>
        </div>

        <div class="d-grid gap-2">
          <button type="button" class="btn btn-hover border p-2">
            <i class="fa-brands fa-apple mx-5"></i>
            Continue with Apple
          </button>
          <button type="button" class="btn border p-2">
            <i class="fa-brands fa-squarespace mx-5"></i>
            Continue with Forem
          </button>
          <button type="button" class="btn border p-2">
            <i class="fa-brands fa-github mx-5"></i>
            Continue with GitHub
          </button>
          <button type="button" class="btn border p-2">
            <i class="fa-brands fa-twitter mx-5" style="color: #009ff9"></i>
            Continue with Twitter
          </button>
        </div>
       
        <div class="container mt-5">
            <div class="position-relative">
              <div class="">
                <hr>
              </div>
              <div class="position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
                <div class="bg-white p-3">
                  OR
                </div>
              </div>
            </div>
          </div>

        <div class="container pt-3">
          <p class="d-flex fs-6 m-0">Email</p>
          <input
            class="d-flex w-100 border border-dark-subtle rounded-1 p-1"
            type="text"
          />
        </div>
        <div class="container mt-3">
          <p class="d-flex fs-6 m-0">Password</p>
          <input
            class="d-flex w-100 border border-dark-subtle rounded-1 p-1"
            type="text"
          />
          <div class="d-flex pt-3 justify-content-between">
            <div class="d-flex justify-content-start align-items-center">
              <input type="checkbox" class="m-1" />
              <p class="m-1">Remember me</p>
            </div>
            <a class="m-1">Forgot password?</a>
          </div>
          <button
            type="button"
            class="btn border mt-3 pt-2 w-100 bg-primary text-white"
          >
            Log in
          </button>
          <div
            class="d-flex justify-content-center align-items-center text-body-secondary">
            <p class="mt-3 fst-italic">
              By signing in, you are agreeing to our <a href="" class="mx-1 fst-italic">privacy policy</a>,<a href="" class="mx-1 fst-italic">terms of use</a>and <a href="" class="mx-1 fst-italic">code of conduct</a>.
            </p>
        </div>
          
          <hr class="my-4"/>

          <div class="d-flex justify-content-center">
            <p>New to DEV Community?<a href="" class="px-1">Create account</a>.</p>
          </div>
        </div>
      </div>
    </div>


    
    


    <footer class="bg-secondary text-white mt-5 p-5">
      <!-- <div class="border bg-warning p-2"> -->
        <!-- <div class="text-center"> -->
          <p class="text-center">
            <a href="">Dev Community</a> — A constructive and inclusive social
            network for software developers. With you every step of your
            journey.
          </p>
        </div>
        <!-- <div class="text-center text-secondary"> -->
          <p class="text-center "><a href="">Home</a> • <a href="">Podcasts</a> • <a href="">Videos</a> • <a href="">Tags</a> • <a href="">FAQ</a> • <a href="">Advertise on DEV</a> • <a href="">About</a> • <a href="">Contact</a> • <a href="">Guides</a> • <a href="">Software comparisons</a></p>
        </div>
        <!-- <div class="text-center text-secondary"> -->
            <p class="text-center text-secondary"><a href="">Code of Conduct</a> • <a href="">Privacy Policy</a> • <a href="">Terms of use</a> </p>
          </div>
          <div class="text-center">
          
            <p> Built on <a href="">Forem</a> — the <a href=""> open source </a> software that powers <a href=""> DEV </a>and other inclusive communities.

                Made with love and <a href=""> Ruby on Rails</a>. DEV Community © 2016 - 2023.
          </p>
        </div>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
